{{ form_start(discussionform) }}
<div class="input-group mb-3">
    {{ form_widget(discussionform.content) }}
    <div class="input-group-append">
        <button class="btn input-group-text" type="button" id="add">Leave a comment</button>
    </div>
</div>
{{ form_end(discussionform) }}