{{ form_start(videoform) }}
<div class="input-group mb-3">
    {{ form_widget(videoform.url) }}
    <div class="input-group-append">
        <button class="btn input-group-text" type="button" id="send">Send</button>
    </div>
</div>
{{ form_end(videoform) }}