{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block main %}
    <article id="securityForm">
        <h1 class="h3 mb-3 regular">Reset your password</h1>
        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div>
                <small>
                    Enter your email address and we we will send you a
                    link to reset your password.
                </small>
            </div>
            <br />
            <button class="btn btn-primary regular">Send password reset email</button>
        {{ form_end(requestForm) }}
    </article>
{% endblock %}