html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr 60px;
    grid-template-areas:
            "mn"
            "hd";
}

header {
    padding: 10px;
    grid-area: hd;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    background-color: whitesmoke;
}

main {
    width: 100%;
    min-height: auto;
    grid-area: mn;
    background-image: url('/../../assets/images/Snowtricks-background.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

article {
    margin: 15vh auto;
    padding: 4em;
    background-color: white;
    border: 1px solid whitesmoke;
}

.app-computer {
    display: none;
}

.app-mobile {
    display: inherit;
}

#description {
    border: 1px solid whitesmoke;
}

/* Here for large screens like computer */
@media (min-width: 1280px)
{
    body {
        grid-template-rows: 50px 1fr 50px;
        grid-template-areas:
                "hd"
                "mn"
                "ft";
    }

    footer {
        grid-area: ft;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        font-size: 0.90rem;
        background-color: whitesmoke;
    }

    .app-computer {
        display: inherit;
    }

    .app-mobile {
        display: none;
    }
}