@import "~bootstrap/dist/css/bootstrap.css";
@import '~@fortawesome/fontawesome-free/css/all.css';

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
    url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
    url('../fonts/OpenSans-Light-webfont.svg#OpenSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'OpenSans-Light', sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 60px;
    grid-template-areas:
            "mn"
            "hd";
}

header {
    padding: 10px;
    grid-area: hd;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    background-color: whitesmoke;
}

main {
    width: 100%;
    min-height: calc(100vw * 9 / 16);
    grid-area: mn;
    background: url(../images/Snowtricks-background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

article {
    margin: 15vh auto;
    padding: 2vw;
    background-color: white;
    border: 1px solid whitesmoke;
}

.app-computer {
    display: none;
}

.app-mobile {
    display: inherit;
}

#description > p {
    text-align: justify;
}

#description > h4 {
    margin-top: 70px;
}


#trickForm {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 60vw;
}

#securityForm {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 40vw;
}

#displayPicture > img {
    object-fit: cover;
    width: 100%;
    max-height: calc(60vw * 9 / 16);
}

#picturesAndVideos {
    min-height: 150px;
}

.regular, h1, h2, h3 {
    font-family: 'OpenSans', sans-serif;
}

h2, h3 {
    margin-top: 50px;
}

/* Here for large screens like computer */
@media (min-width: 1280px) {
    body {
        grid-template-rows: 50px 1fr 50px;
        grid-template-areas:
                "hd"
                "mn"
                "ft";
    }

    footer {
        grid-area: ft;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        font-size: 0.90rem;
        background-color: whitesmoke;
    }

    .app-computer {
        display: inherit;
    }

    .app-mobile {
        display: none;
    }
}